@font-face { 
  font-family: 'Poiret One'; 
  src: url('./fonts/PoiretOne-Regular.ttf'); 
}

body, html {
  height: 100%;
  font-family: 'Poiret One';
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  margin: 1em;
}

#landingContainer {
  display: grid;
  align-content: center;
  justify-content: center;
}

.inputBox, .submitButton {
  padding: 0.5em;
}

.inputBox {
  margin: 1em; 
  font-size: 1rem;
  width: 500px;
  height: 2em;
}

.submitButton {
  border-radius: 10%;
}

#stack {
  display: inline;
  float: right;
}

#restaurantList {
  display: inline;
  float: left;
}

.stackItem {
  width: 500px;
  height: auto;
  background: black;
  color: white;
  text-align: center;
}

.stackText {
  vertical-align: middle;
}

label, p {
  font-size: 2rem;
}

p {
  padding: 5px;
}